body .alignwide,
body .alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

@media (max-width: 920px) {
	body .alignwide {
		margin-left: calc((767px - 920px) / 2);
		margin-right: calc((767px - 920px) / 2);
		max-width: 920px;
		width: 920px;
	}
}
